:root {
    --blanco: #fff;
    --caacep: #dc283c;
    --gris: #ccc;
    --negro: #000;
    --headerSize: 8em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* General*/
a {
    color: var(--blanco);
    text-decoration: none;
}



/* Header */
header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: var(--headerSize);
}

.titulo {
    color: var(--caacep);
}

.header-container-logo {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
}

.header-container-menu {
    background-color: var(--negro);
    width: 100%;
}

.header-container-menu-list {
    align-items: center;
    display: flex;
    height: 3em;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
}

.header-container-menu-list li {
    align-items: center;
    display: flex;
    font-weight: bold;
    height: 100%;
    justify-content: space-around;
    letter-spacing: 0.05em;
    width: 100%;
}

.header-container-menu-list li:hover {
    background-color: var(--caacep);
    transition: 0.3s;
}

/* Main */

main {
    padding-top: var(--headerSize);
}

/* misDatos */
.data-container-title {
    align-items: center;
    display: flex;
    font-size: 2em;
    height: 3em;
    justify-content: center;
    width: 100%;
}

.main-container {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
}

.data-container {
    align-items: center;
    background-color: var(--gris);
    border-radius: 0.5em;
    display: flex;
    justify-content: space-around;
    padding: 1em 1em;
    width: 75%;
}

.data-container-inputs {
    flex: 1;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.data-container-inputs-item {
    align-items: center;
    display: flex;
    height: 3em;
    justify-content: center;
    margin-bottom: 1em;
    width: 100%;
}

.data-container-inputs-item label {
    flex: 1;
    font-weight: bold;
    margin-right: 1em;
}

.data-container-inputs-item input {
    flex: 2;
    border-radius: 0.5em;
    font-size: 1em;
    height: 100%;
    padding-left: 1em;
    padding-right: 1em;
    overflow: hidden;
    width: 100%;
}

.input-file input {
    height: 1.8em;
    border-radius: 0;
    padding: 0;
}


.data-container-image {
    flex: 1;
    height: auto;
    padding: 1em 1em;
    object-fit: cover;
    width: auto;
}

.data-container-image img {
    border-radius: 0.5em;
    height: 100%;
    width: 100%;
}

/* Footer */
footer {
    align-items: center;
    background-color: var(--negro);
    bottom: 0;
    color: var(--blanco);
    display: flex;
    height: 3em;
    justify-content: center;
    position: fixed;
    width: 100%;
}